@media only screen and (max-width: 1199px) {
    .container{
        max-width: 930px;
    }

    /*header*/
    header{
        padding-top: 37px;
    }
    header p {
        font-size: 14px;
        line-height: 18px;
        margin-left: 20px;
    }
    .flex_header{
        padding: 0;
    }
    header li{
        margin-left: 28px;
    }

    /*main_banner*/
    .main_banner{
        padding: 301px 0 225px;
    }
    .main_banner h1{
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 25px;
    }
    .main_banner p{
        line-height: 29px;
        font-size: 26px;
        margin-bottom: 55px;
    }
    .main_banner .btn{
        margin-right: 30px;
    }

    /*about*/
    .about {
        padding: 80px 0 120px;
    }
    .about h3{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 15px;
    }
    .foto_about{
        width: 48%;
    }
    .text_about{
        width: 48%;
    }
    .flex_about{
        align-items: stretch;
    }

    .text_about p{
        font-size: 16px;
        line-height: 22px;
    }
    .text_about p:first-of-type{
        margin-bottom: 22px;
    }

    /*components*/
    .components h2{
        font-size: 45px;
        line-height: 45px;
    }
    .components .flex_components span{
        font-size: 45px;
        line-height: 45px;
    }
    .components .flex_components p{
        padding-top: 22px;
    }
    .components .flex_components div{
        margin: 0;
        width: 19%;
    }
    .components .flex_components div:last-of-type{
        width: 28%;
    }
    /*price*/
    .price{
        padding-bottom: 120px;
    }
    .foto_price h3{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 16px;
    }
    .text_price{
        width: 40%;
    }
    .text_price p{
        font-size: 16px;
        line-height: 22px;
        padding: 5px 14px;
    }

    /*portfolio*/
    .portfolio{
        padding-bottom: 120px;
    }
    .photo_portfolio{
        margin-bottom: 40px;
    }
    .portfolio h4{
        font-size: 45px;
        line-height: 45px;
        margin-right: 100px;
    }
    .portfolio .btn{
        font-size: 18px;
        line-height: 25px;
    }
    .portfolio p{
        font-size: 16px;
        line-height: 22px;
    }
    .gallery_item{
        margin-bottom: 50px;
    }
    .gallery_item:last-of-type{
        margin-bottom: 20px;
    }
    .portfolio_btn{
        font-size: 20px;
        line-height: 22px;
    }

    /*guideline*/
    .guideline{
        padding-bottom: 87px;
    }
    .guideline h3{
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 19px;
    }
    .foto_guideline img{
        max-height: 366px;
    }
    .text_guideline p{
        font-size: 16px;
        line-height: 22px;
        padding: 10px 8px;
    }
    .text_guideline p:first-of-type{
        font-size: 20px;
    }

    /*application_form*/
    .application_form h3 {
        line-height: 37px;
        font-size: 34px;
        margin-bottom: 10px;
    }
    .application_form p{
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 24px;
    }
    .application_form .contacs{
        max-width: 450px;
        margin-bottom: 22px;
        order: 1;
    }
    .application_form .contacs+.contacs{
        margin-right: 0;
    }
    .application_form .contacs input{
        font-size: 16px;
        line-height: 22px;
        max-width: 450px;
    }
    .application_form form{
        display: flex;
        flex-wrap: wrap;
    }
    .application_form .agree{
        order: 2;
        width: 100%;
        margin-bottom: 30px;
    }
    .application_form button {
        order: 3;
        margin: 0;
        font-size: 16px;
        line-height: 22px;
    }
    .agree{
        font-size: 16px;
        line-height: 22px;
    }

    /*stages_creating*/
    .stages_creating{
        padding: 100px 0 120px;
    }
    .stages_creating h2{
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 87px;
    }
    .column1 p{
        font-size: 20px;
        line-height: 22px;
    }
    .column p{
        font-size: 14px;
        line-height: 18px;
    }
    .column:first-of-type{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 18px;
    }
    .item1{
        width: 23%;
        margin-right: 80px;
    }
    .item2{
        width: 17%;
        margin-right: 44px;
    }
    .item3{
        width: 17%;
        margin-right: 74px;
    }
    .item3.row2 br{
        display: none;
    }

    /*comparison_of_companies*/
    .comparison_of_companies{
        padding-bottom: 100px;
    }
    .flex_row.pad ._item2,.flex_row.pad ._item3,.flex_row.pad ._item4{
        font-size: 34px;
        line-height: 37px;
    }
    ._item1{
        font-size: 20px;
        line-height: 22px;
    }
    ._item2{
        font-size: 14px;
        line-height: 18px;
    }
    ._item3{
        font-size: 14px;
        line-height: 18px;
    }
    ._item4{
        font-size: 14px;
        line-height: 18px;
    }

    /*guarantee*/
    .guarantee{
        padding: 97px 0 60px;
    }
    .guarantee h2{
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 70px;
    }
    .guarantee .flex_components span{
        font-size: 45px;
        line-height: 45px;
    }
    .guarantee .flex_components p{
        font-size: 14px;
        line-height: 18px;
    }
    .guarantee .flex_components div{
        margin-right: 7px;
        width: 20%;
    }

    /*feedback*/
    .feedback{
        padding-top: 100px;
    }
    .feedback h4{
        line-height: 37px;
        font-size: 34px;
        margin-bottom: 31px;
    }
    .feedback .contacs input{
        max-width: 370px;
    }
    .feedback .contacs+.contacs{
        margin-bottom: 10px;
    }
    .feedback .contacs{
        max-width: 370px;
    }
    .feedback .agree{
        margin-bottom: 30px;
    }
    form button{
        font-size: 16px;
        line-height: 22px;
        margin: 0;
    }
    .feed{
        margin-right: 110px;
    }
    .feedback p{
        font-size: 20px;
        line-height: 22px;
    }

    /*smi*/
    .smi{
        padding-top: 120px;
    }
    .smi h3{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 31px;
    }
    .smi_flex a{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 28px;
    }
    .smi_flex p{
        font-size: 14px;
        line-height: 18px;
    }
    .smi_flex div{
        padding: 6px 0 0 8px;
    }
    .smi_flex div:last-of-type{
        margin: 0;
    }

    /*footer*/
    footer{
        padding: 30px 0 20px;
        font-size: 16px;
        line-height: 22px;
    }





}
@media only screen and (max-width: 991px) {
    .container{
        max-width: 690px;
    }

    /*HEADER*/
    header {
        padding-top: 27px;
    }
    header p {
        margin-left: 20px;
        font-size: 14px;
        line-height: 18px;
    }
    header ul {
        display: none;
    }
    .flex_header {
        align-items: center;
    }
    .burger {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
    }
    .burger span {
        position: absolute;
        background-color: #181818;
        width: 100%;
        height: 2px;
        left: 0;
        top: 8px;
    }
    .burger:before, .burger:after {
        content: "";
        background: #181818;
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
    }
    .burger:before {
        top: 0;
    }
    .burger:after {
        bottom: 0;
    }

    /*main_banner*/
    .main_banner {
        background-image: url("../images/background_mobile.jpg");
        padding: 307px 0 350px;
    }
    .main_banner .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 674px;
    }
    .main_banner h1 {
        color: #FFFFFF;
        order: 1;
    }
    .main_banner p {
        font-family: '20 Kopeek';
        color: #FFFFFF;
        margin-bottom: 78px;
        order: 2;
        width: 63%;
    }
    .main_banner .btn {
        font-size: 16px;
        margin: 0 0 42px 0;
        order: 3;
        width: 32%;
    }
    .main_banner .btn + .btn {
        order: 4;
        margin: 0;
    }

    /*about*/
    .about {
        padding: 100px 0 120px;
    }
    .flex_about {
        flex-wrap: wrap;
    }
    .foto_about {
        width: 65%;
        margin-bottom: 30px;
    }
    .text_about {
        width: 65%;
    }

    /*components*/
    .flex_components {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .components .flex_components p {
        font-size: 16px;
        line-height: 21px;
        margin-left: 7px;
        padding-top: 1px;
    }
    .components .flex_components div {
        width: 21%;
        margin: 0 120px 77px 0;
    }
    .components .flex_components div:nth-child(3){
        margin-right: 0;
    }
    .components .flex_components div:last-of-type{
        width: 34%;
    }

    /*price*/
    .flex_price {
        flex-wrap: wrap-reverse;
    }
    .text_price {
        width: 85%;
    }
    .foto_price {
        width: 100%;
        margin-bottom: 25px;
    }
    .foto_price img{
        max-width: 690px;
    }

    /*portfolio*/
    .portfolio h4 {
        margin-right: 70px;
    }
    .photo_portfolio {
        margin-bottom: 25px;
    }
    .gallery_item:last-of-type {
        margin-bottom: 20px;
    }
    .flex{
        align-items: center;
    }

    /*guideline*/
    .flex_guideline {
        flex-wrap: wrap;

    }
    .foto_guideline {
        width: 65%;
        margin-bottom: 15px;
        background-image: url("../images/gaid_mobile.jpg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
    }
    .text_guideline {
        width: 65%;
    }
    .guideline h3 {
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 15px;
    }

    .guideline p:first-of-type {
        line-height: 22px;
    }
    .guideline {
        padding-bottom: 70px;
    }

    /*application_form*/
    .application_form h3 {
        margin-bottom: 15px;
    }
    .application_form p {
        margin-bottom: 30px;
        order: 2;
    }
    .application_form .contacs {
        margin: 0 0 20px 0;
        order: 2;
    }
    .application_form .contacs+.contacs{
        order: 1;
    }
    .contacs input {
        padding: 20px 0 20px 20px;
    }
    .application_form .agree {
        order: 3;
    }
    .application_form button {
        font-size: 16px;
        line-height: 22px;
        order: 4;
        margin: 0;
    }
    .application_form form {
        align-items: flex-start;
    }

    /*stages_creating*/
    .stages_creating {
        padding: 75px 0 90px;
    }
    .stages_creating h2 {
        margin-bottom: 40px;
    }
    .column :first-of-type {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 18px;
    }
    .column1 img {
        margin-bottom: 17px;
    }
    .column1 p:first-of-type{
        width: 32%;
    }
    .flex_table{
        justify-content: space-between;
    }
    .item1{
        width: 100%;
        margin: 0 0 18px 0;
    }
    .item4{
        width: 24%;
        margin-bottom: 45px;
    }
    .item2{
        width: 23%;
        margin: 0 71px 45px 0;
    }
    .item2.row3, .item3.row3, .item4.row3{
        margin-bottom: 0;
    }
    .item3{
        width: 29%;
        margin: 0 32px 45px 0;
    }

    /*comparison_of_companies*/
    .flex_row{
        flex-wrap: wrap;
    }
    .flex_row:first-of-type ._item1{
        display: none;
    }
    ._item1{
        width: 100%;
        border-radius: 10px;
        padding: 5px 0 5px 17px ;
        margin: 0 0 0 -17px ;
    }
    ._item2{
        width: 22%;
        padding: 15px 50px 15px 0;
    }
    ._item3{
        width: 27%;
        padding: 15px 40px 15px 15px;
    }
    ._item4{
        width: 32%;
        padding: 15px 0 15px 15px;
    }
    .flex_row.pad ._item2,.flex_row.pad ._item3,.flex_row.pad ._item4{
        padding-bottom: 16px;
    }
    .border_row ._item2, .border_row ._item3,.border_row ._item4{
        border-bottom: none;
    }
    .flex_row:last-of-type ._item1{
        border-radius: 10px;
    }

    /*guarantee*/
    .guarantee{
        padding: 32px 0 21px;
    }
    .guarantee h2{
        margin-bottom: 40px;
    }
    .guarantee .flex_components div{
        margin-right: 57px;
        width: 25%;
    }
    .guarantee .flex_components div:nth-child(3){
        margin-bottom: 23px;
    }
    .guarantee .flex_components div:last-of-type{
        margin:  0;
        width: 54%;
    }

    /*feedback*/
    .feedback {
        padding-top: 120px;
    }
    .feedback_flex {
        flex-wrap: wrap;
    }
    .feed {
        margin: 0 0 60px;
    }
    .feedback .contacs{
        max-width: 450px;
    }
    .feedback .contacs input{
        max-width: 450px;
        font-size: 16px;
        line-height: 22px;
    }
    .feedback .contacs + .contacs {
        margin-bottom: 10px;
    }
    .feedback p {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .feedback p:last-of-type {
        margin: 0;
    }
    .kontakti p{
        font-size: 26px;
        line-height: 29px;
    }

    /*smi*/
    .smi_flex{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .smi_flex div{
        width: 32%;
        margin: 0 20px 31px 0;
    }
    .smi_flex div:last-of-type{
        margin: 0;
    }
    .smi_flex a{
        margin-bottom: 25px;
        width: 100%;
    }
    .smi_flex p{
        font-size: 14px;
        line-height: 19px;
    }
    .smi_flex .n1{
        order: 1;
    }
    .smi_flex .n2{
        order: 2;
    }
    .smi_flex .n3{
        order: 3;
        margin-bottom: 0;
    }
    .smi_flex .n4{
        order: 4;
    }

    /*footer*/
    footer{
        padding-top: 28px;
    }




}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 420px) {

}
@media only screen and (max-width: 375px) {

}
/*@media only screen and (max-width: 360px)*/
@media only screen and (max-width: 575px){
    .container {
        max-width: 290px;
    }

    /*HEADER*/
    header {
        padding-top: 27px;
    }

    header p {
        margin-left: 20px;
        font-size: 12px;
        line-height: 13px;
        margin-right: 50px;
    }

    header ul {
        display: none;
    }

    .flex_header {
        align-items: center;
    }

    .burger {
        width: 30px;
        height: 18px;
        position: relative;
    }

    .burger span {
        position: absolute;
        background-color: #181818;
        width: 100%;
        height: 2px;
        left: 0;
        top: 8px;
    }

    .burger:before, .burger:after {
        content: "";
        background: #181818;
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
    }

    .burger:before {
        top: 0;
    }

    .burger:after {
        bottom: 0;
    }

    /*main_banner*/
    .main_banner {
        background-image: url("../images/background_mobile.jpg");
        padding: 145px 0 191px;
    }

    .main_banner .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .main_banner h1 {
        font-family: '20 Kopeek';
        font-size: 30px;
        line-height: 33px;
        color: #FFFFFF;
        margin-bottom: 15px;
        order: 1;
    }

    .main_banner h1 br {
        display: none;
    }

    .main_banner p {
        font-family: '20 Kopeek';
        font-size: 20px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 40px;
        order: 2;
        width: 63%;
    }

    .main_banner .btn {
        font-size: 15px;
        margin: 0 0 20px 0;
        order: 4;
    }

    .main_banner .btn + .btn {
        order: 3;
    }

    /*about*/
    .about {
        padding: 56px 0 90px;
    }

    .about h3 {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 15px;
    }

    .flex_about {
        flex-wrap: wrap;
    }

    .foto_about {
        width: 100%;
        margin-bottom: 30px;
    }

    .text_about {
        width: 100%;
    }

    .text_about p {
        font-size: 15px;
        line-height: 21px;
    }

    /*components*/
    .components h2 {
        font-size: 35px;
        line-height: 35px;
    }

    .flex_components {
        flex-wrap: wrap;
    }

    .components .flex_components span {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 37px;
    }

    .components .flex_components p {
        font-size: 15px;
        line-height: 21px;
        margin-left: 57px;
        padding-top: 12px;
    }

    .components .flex_components div {
        width: 100%;
        margin: 0;
    }

    /*price*/
    .price {
        padding-bottom: 100px;
    }

    .flex_price {
        flex-wrap: wrap-reverse;
    }

    .text_price {
        width: 100%;
    }

    .text_price p {
        font-size: 15px;
        line-height: 21px;
    }

    .foto_price {
        width: 100%;
    }

    .foto_price h3 {
        font-size: 32px;
        line-height: 35px;
    }

    /*portfolio*/
    .portfolio h4 {
        font-size: 35px;
        line-height: 35px;
        margin: 0 0 15px;
        order: 1;
        margin-bottom: 11px;
    }

    .portfolio p {
        font-size: 15px;
        line-height: 21px;
        order: 2;
        margin-bottom: 30px;
    }

    .photo_portfolio {
        margin-bottom: 15px;
    }

    .portfolio .btn {
        font-size: 18px;
        line-height: 25px;
        order: 3;
    }

    .gallery_item {
        margin-bottom: 60px;
    }

    .gallery_item:last-of-type {
        margin-bottom: 90px;
    }

    .portfolio {
        padding-bottom: 120px;
    }

    /*guideline*/
    .flex_guideline {
        flex-wrap: wrap;

    }

    .foto_guideline {
        width: 100%;
        margin-bottom: 26px;
        background-image: url("../images/gaid_mobile.jpg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
    }

    .text_guideline {
        width: 100%;
    }

    .guideline h3 {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }

    .guideline p {
        font-size: 15px;
        line-height: 21px;
    }

    .guideline p:first-of-type {
        font-size: 20px;
        line-height: 22px;
    }

    .guideline {
        padding-bottom: 90px;
    }

    .foto_guideline img {
        /*display: none;*/
    }

    /*application_form*/
    .application_form h3 {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }

    .application_form p {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 30px;
        order: 2;
    }

    .application_form .contacs {
        margin: 0 0 10px 0;
        order: 1;
    }

    .contacs input {
        padding: 20px 0 20px 20px;
    }

    .agree {
        font-size: 15px;
        line-height: 21px;
        order: 3;
        margin-bottom: 31px;
    }

    form button {
        font-size: 15px;
        line-height: 21px;
        order: 4;
        margin: 0;
    }

    .application_form form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /*stages_creating*/
    .stages_creating {
        padding: 100px 0 90px;
    }

    .stages_creating h2 {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 35px;
    }

    .column1 p {
        font-size: 20px;
        line-height: 22px;
    }

    .column p {
        font-size: 12px;
        line-height: 16px;
    }

    .column :first-of-type {
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 20px;
    }

    .column.row3 :first-of-type {
        margin: 0;
    }

    .column1 img {
        margin-bottom: 13px;
        max-width: 62px;
    }

    .item1 {
        width: 74%;
        margin: 0 0 40px 0;
    }

    .item1.row3 {
        max-width: 61%;
    }

    .item1.row3 img {
        max-width: 45px;
    }

    .item2 {
        width: 46%;
        margin: 0 20px 0 0;
    }

    .item3 {
        width: 46%;
        margin: 0 0 26px 0;
    }

    .item3.row2 br {
        display: none;
    }

    .item4 {
        width: 46%;
        margin: 0 0 65px 0;
    }

    .item4.row3 {
        margin: 0;
    }

    /*comparison_of_companies*/
    .comparison_of_companies {
        display: none;
    }

    /*guarantee*/
    .guarantee {
        display: none;
    }

    /*feedback*/
    .feedback {
        padding: 0;
    }

    .feedback_flex {
        flex-wrap: wrap;
    }

    .feed {
        margin: 0 0 60px;
    }

    .feedback h4 {
        font-size: 34px;
        line-height: 37px;
    }

    .feedback .contacs + .contacs {
        margin-bottom: 10px;
    }

    .feedback .agree {
        margin-bottom: 31px;
    }

    .feedback p {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .feedback p:last-of-type {
        margin: 0;
    }

    /*feedback*/
    .smi {
        padding-top: 90px;
    }

    .smi h3 {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    .smi_flex{
        flex-wrap: wrap;
    }
    .smi_flex div{
        width: 100%;
        margin: 0 0 20px 0;
    }
    .smi_flex div:last-of-type{
        margin: 0;
    }
    .smi_flex a{
        margin-bottom: 30px;
        width: 87%;
    }
    .smi_flex .n1{
        order: 1;
    }
    .smi_flex .n2{
        order: 3;
    }
    .smi_flex .n3{
        order: 2;
    }
    .smi_flex .n4{
        order: 4;
    }

    /*footer*/
    footer{
        padding-top: 26px;
        font-size: 15px;
        line-height: 21px;
    }


}

@media only screen and (max-width: 320px) {

}

/*@keyframes scale {*/
/*    0% {*/
/*        transform: scale(1);*/
/*        bottom: 0;*/
/*    }*/


/*    50% {*/
/*    bottom: -50px;*/
/*    }*/

/*    100% {*/
/*        transform: scale(1.3);*/
/*        bottom: 0;*/
/*    }*/

/*}*/