@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek.eot');
    src: local('☺'), url('../fonts/20Kopeek.woff') format('woff'), url('../fonts/20Kopeek.ttf') format('truetype'), url('../fonts/20Kopeek.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '20 Kopeek Book';
    src: url('../fonts/20Kopeek-Book.eot');
    src: local('☺'), url('../fonts/20Kopeek-Book.woff') format('woff'), url('../fonts/20Kopeek-Book.ttf') format('truetype'), url('../fonts/20Kopeek-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    margin: auto;
    max-width: 1110px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*HEADER*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 31px;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.flex_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1px;
}
header p{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 22px;
}
header li span
{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 7px 30px;
    display: inline-block;
}
header ul{
    display: flex;
    /*list-style: none;*/
}
header li{
    margin-left: 23px;
}
header .social{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 38px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*<section class="main_banner">*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.main_banner{
    background-image: url("../images/011.jpg");
    background-size: cover;
    background-position: center top;
    height: 100vh;
    padding-top: 344px;
    padding-bottom: 309px;
    box-sizing: border-box;
    /*margin-bottom: 70px;*/
}
.main_banner .banner2{
    background-image: url("../images/012.jpg");
}
.main_banner .banner3{
    background-image: url("../images/013.jpg");
}
.main_banner .banner4{
    background-image: url("../images/014.jpg");
}
.main_banner h1{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-bottom: 30px;
}
.main_banner p{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 37px;
    color: #181818;
    margin-bottom: 65px;
}
.main_banner .btn{
    padding: 23px 47px;
    background: #FFFFFF;
    border-radius: 40px;
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #181818;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    box-sizing: border-box;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*<section class="about">*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.about{
    padding: 70px 0 141px;
    box-sizing: border-box;
}
.flex_about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about h3{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 5px;
}
.foto_about{
    width: 57%;
}
.text_about{
    width: 40%;
}
.foto_about img{
    display: inline-block;
    width: 100%;
    max-width: 635px;
    max-height: 381px;
    height: 100%;
}
.text_about p {
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}
.text_about p:first-of-type{
    margin-bottom: 25px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*<section class="components">*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.components h2{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-bottom: 40px;
}
.components{
    padding-bottom: 120px;
}
.flex_components{
    display: flex;
    justify-content: space-between;
}
.components .flex_components span{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
}
.components .flex_components p{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    margin-left: 8px;
    padding-top: 25px;
}
.components .flex_components div{
    display: flex;
    margin-right:60px ;
}
.components .flex_components div:last-of-type{
    margin: 0;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*<section class="price">*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.foto_price h3{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 15px;
}
.flex_price{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.text_price{
    width: 36%;
}
.text_price p{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    padding: 11px 10px;
    box-sizing: border-box;

}
.text_price p:last-of-type{
    background: #2B59C3;
    border-radius: 5px;
    color: #FFFFFF;

}
.text_price p span::after{
    content:"▼" ;
}

.foto_price{
    width: 57%;
}
.foto_price img{
    display: inline-block;
    max-width: 634px;
    max-height: 394px;
    height: 100%;
    width: 100%;
}
.price{
    margin-bottom: 150px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*<section class="guideline">*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.guideline h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 15px;
}
.flex_guideline{
    display: flex;
    justify-content: space-between;
}
.foto_guideline{
    width: 57%;
    margin-bottom: 77px;
}
.foto_guideline img{
    display: inline-block;
    max-width: 635px;
    width: 100%;
    max-height: 439px;
    height: 100%;
}
.text_guideline{
    width: 40%;
}
.text_guideline p{
    box-sizing: border-box;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 11px 14px;
    background: #2B59C3;
    border-radius: 0 0 5px 5px;
}
.text_guideline p:first-of-type{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 29px;
    border-radius: 5px 5px 0 0;
}
.text_guideline p:last-of-type{
    color: #181818;
    background: none;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*<section class="application_form">*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.application_form h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 11px;
}
.application_form p {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 29px;
    color: #181818;
    margin-bottom: 27px;
}
.application_form .contacs{
    display: inline-block;
    max-width: 350px;
    width: 100%;
    margin-right: 30px;
}
.contacs input{
    border: 1px solid #181818;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 23px 0 23px 29px;
    max-width: 350px;
    width: 100%;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #868686;
}
form button{
    background: #2B59C3;
    border-radius: 40px;
    padding: 23px 47px;
    border: none;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 21px;
}
.agree{
    font-family: '20 Kopeek';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*<section class="stages_creating">*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.stages_creating{
    padding: 150px 0;
}
.stages_creating h2{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-bottom: 83px;
}
.flex_table{
    display: flex;
    flex-wrap: wrap;
}
.column1 img{
    display: inline-block;
    max-width: 82px;
    width: 100%;
    margin-bottom: 23px;
}
.item1.row3 img {
    max-width: 60px;
}
.column1 p{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 29px;
    color: #181818;
}
.column p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #181818;
}
.column :first-of-type{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}
.item1{
    width: 25%;
    margin-right: 155px;
    /*order: 1;*/
}
.item2{
    width: 15%;
    margin-right: 30px;
    /*order: 2;*/
}
.item3{
    width: 16%;
    margin-right: 30px;
    /*order: 3;*/
}
.item4{
    width: 18%;
    /*order: 4;*/
}
.row1, .row2{
    margin-bottom: 60px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*<section class="comparison_of_companies">*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.comparison_of_companies{
    padding-bottom: 150px;
}
.flex_row{
    display: flex;
}
._item1{
    width: 16%;
    background: #2B59C3;
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 25px 15px;
}
.flex_row:first-of-type ._item1 {
    border-radius: 10px 10px 0 0;
}
.flex_row:last-of-type ._item1{
    border-radius: 0 0 10px 10px;
}
._item2{
    width: 23%;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #181818;
    padding: 25px 15px;
}
._item3{
    width: 26%;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #181818;
    border: 4px solid #2B59C3;
    border-bottom: 0.5px solid #868686;
    border-top: none;
    padding: 25px 15px;
}
.flex_row:first-of-type ._item3 {
    border-radius: 10px 10px 0 0;
    border-top: 4px solid #2B59C3;
    border-bottom: none;
}
.flex_row:last-of-type ._item3{
    border-radius: 0 0 10px 10px;
    border-bottom: 4px solid #2B59C3;
}
._item4{
    width: 32%;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #181818;
    padding: 25px 15px;
}
.flex_row.pad ._item2,.flex_row.pad ._item3,.flex_row.pad ._item4{
    padding-top: 15px;
    padding-bottom: 0;
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
}
.flex_row.pad ._item2,.flex_row.pad ._item4{
    color: #868686;
}
.flex_row.pad ._item3{
    color: #2B59C3;
}
.border_row ._item2, .border_row ._item3,.border_row ._item4{
    border-bottom: 0.5px solid #868686;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*<section class="guarantee">*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.guarantee{
    background-image: url("../images/guarantee_background.jpg");
    background-size: cover;
    background-position: center top;
    height: 100vh;
    padding-top: 282px;
    padding-bottom: 80px;
}
.guarantee h2{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.guarantee .flex_components div{
    display: flex;
    margin-right: 28px;
    width: 18%;
}
.guarantee .flex_components span{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #FFFFFF;
    margin-right: 8px;
}
.guarantee .flex_components p {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    padding-top: 25px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*<section class="feedback">*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.feedback{
    padding-top: 150px;
}
.feedback_flex{
    display: flex;
}
.feed{
    margin-right: 103px;
}
.feedback h4{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 30px;
}
.feedback p{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 29px;
    color: #181818;
    margin-bottom: 15px;
}
.feedback .contacs{
    margin-bottom: 10px;
}
.feedback .contacs + .contacs{
    margin-bottom: 21px;
}
.feedback .agree{
    margin-bottom: 48px;
}
.feedback .agree a{
    display: inline-block;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*<section class="smi">*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.smi{
    padding-top: 127px;
}
.smi_flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.smi h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 14px;
}

.smi_flex p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}
.smi_flex a{
    display: inline-block;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.smi_flex div {
    width: 23%;
    background: #2B59C3;
    border-radius: 10px;
    margin-right: 30px;
    padding: 6px 10px 0 10px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*FOOTER*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
footer{
    padding: 38px 0 20px 0;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width:992px) {
    .container{
        max-width: 690px;
    }
    .flex_table{
        justify-content: space-between;
        /*flex-wrap: wrap-reverse;*/
    }
    .column1 p{
        font-size: 20px;
        line-height: 22px;
    }
    .column p{
        font-size: 14px;
        line-height: 18px;
    }
    .column :first-of-type{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 18px;
    }
    .column1 img{
        margin-bottom: 17px;
    }
    .item1{
        /*order: 4;*/
        /*width: 30%;*/
        width: 100%;
        margin: 0 0 18px 0;
    }
    .item4{
        /*order: 3;*/
        width: 24%;
    }
    .item2{
        /*order: 1;*/
        width: 23%;
    }
    .item3{
        /*order: 2;*/
        width: 29%;
    }
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    /*<section class="comparison_of_companies">*/
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

    .flex_row{
        flex-wrap: wrap;
    }
    .flex_row:first-of-type ._item1{
        display: none;
    }
    ._item1{
        width: 100%;
        border-radius: 10px;
        padding: 5px 0 5px 17px ;
        margin: 0 0 0 -17px ;
        font-size: 20px;
        line-height: 22px;
    }
    ._item2{
        width: 22%;
        padding: 15px 50px 15px 0;
        font-size: 14px;
        line-height: 18px;
    }
    ._item3{
        width: 27%;
        padding: 15px 40px 15px 15px;
        font-size: 14px;
        line-height: 18px;
    }
    ._item4{
        width: 32%;
        padding: 15px 0 15px 15px;
        font-size: 14px;
        line-height: 18px;
    }
    .flex_row.pad ._item2,.flex_row.pad ._item3,.flex_row.pad ._item4{
        padding-bottom: 16px;
        font-size: 34px;
        line-height: 37px;
    }
    .border_row ._item2, .border_row ._item3,.border_row ._item4{
        border-bottom: none;
    }
    .flex_row:last-of-type ._item1{
        border-radius: 10px;
    }

}
