@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek.eot');
    src: local('☺'), url('../fonts/20Kopeek.woff') format('woff'), url('../fonts/20Kopeek.ttf') format('truetype'), url('../fonts/20Kopeek.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '20 Kopeek Book';
    src: url('../fonts/20Kopeek-Book.eot');
    src: local('☺'), url('../fonts/20Kopeek-Book.woff') format('woff'), url('../fonts/20Kopeek-Book.ttf') format('truetype'), url('../fonts/20Kopeek-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    margin: auto;
    max-width: 1110px;
}
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 31px;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.flex_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1px;
}
header p{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 22px;
}
header li span
{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 7px 30px;
    display: inline-block;
}
header ul{
    display: flex;
    /*list-style: none;*/
}
header li{
    margin-left: 23px;
}
header .social{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 38px;
}
.main_banner{
    background-image: url("../images/011.jpg");
    background-size: cover;
    background-position: center top;
    height: 100vh;
    padding-top: 344px;
    padding-bottom: 309px;
    box-sizing: border-box;
    /*margin-bottom: 70px;*/
}
.main_banner .banner2{
    background-image: url("../images/012.jpg");
}
.main_banner .banner3{
    background-image: url("../images/013.jpg");
}
.main_banner .banner4{
    background-image: url("../images/014.jpg");
}

.main_banner h1{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-bottom: 30px;
}
.main_banner p{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 37px;
    color: #181818;
    margin-bottom: 65px;
}
.main_banner .btn{
    padding: 23px 47px;
    background: #FFFFFF;
    border-radius: 40px;
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #181818;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    box-sizing: border-box;
}
.about{
    padding: 70px 0 141px;
    box-sizing: border-box;
}
.flex_about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about h3{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 5px;
}

.foto_about{
    width: 57%;
}
.text_about{
    width: 40%;
}

.foto_about img{
    display: inline-block;
    width: 100%;
    max-width: 635px;
    max-height: 381px;
    height: 100%;
}

.text_about p {
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}
.text_about p:first-of-type{
    margin-bottom: 25px;
}
.components h2{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-bottom: 40px;
}
.flex_components{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.flex_components span{
        font-family: "20 Kopeek Book";
        font-style: normal;
        font-weight: normal;
        font-size: 55px;
        line-height: 55px;
        color: #181818;
}
.flex_components p{
        font-family: "20 Kopeek";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #181818;
        margin-left: 8px;
        padding-top: 25px;
}
.flex_components div{
    display: flex;
    margin-right:60px ;
}
.flex_components div:last-of-type{
    margin: 0;
}
.foto_price h3{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 15px;
}
.flex_price{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.text_price{
    width: 36%;
}
.text_price p{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    padding: 11px 10px;
    box-sizing: border-box;

}
.text_price p:last-of-type{
    background: #2B59C3;
    border-radius: 5px;
    color: #FFFFFF;

}
.text_price p span::after{
    content:"▼" ;
}

.foto_price{
    width: 57%;
}
.foto_price img{
    display: inline-block;
    max-width: 634px;
    max-height: 394px;
    height: 100%;
    width: 100%;
}
.price{
    margin-bottom: 150px;
}
.guideline h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 15px;
}
.flex_guideline{
    display: flex;
    justify-content: space-between;
}
.foto_guideline{
    width: 57%;
    margin-bottom: 77px;
}
.foto_guideline img{
    display: inline-block;
    max-width: 635px;
    width: 100%;
    max-height: 439px;
    height: 100%;
}
.text_guideline{
    width: 40%;
}
.text_guideline p{
    box-sizing: border-box;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 11px 14px;
    background: #2B59C3;
    border-radius: 0 0 5px 5px;
}
.text_guideline p:first-of-type{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 29px;
    border-radius: 5px 5px 0 0;
}
.text_guideline p:last-of-type{
    color: #181818;
    background: none;
}
.application_form h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 11px;
}
.application_form p {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 29px;
    color: #181818;
    margin-bottom: 27px;
}
.application_form .contacs{
    display: inline-block;
    max-width: 350px;
    width: 100%;
    margin-right: 30px;
}
.contacs input{
    border: 1px solid #181818;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 23px 0 23px 29px;
        max-width: 350px;
        width: 100%;
        font-family: '20 Kopeek';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #868686;
}
form button{
    background: #2B59C3;
    border-radius: 40px;
    padding: 23px 47px;
    border: none;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 21px;
}
.agree{
    font-family: '20 Kopeek';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
}
.stages_creating{
    margin-top: 150px;
}
