@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek.eot');
    src: local('☺'), url('../fonts/20Kopeek.woff') format('woff'), url('../fonts/20Kopeek.ttf') format('truetype'), url('../fonts/20Kopeek.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '20 Kopeek Book';
    src: url('../fonts/20Kopeek-Book.eot');
    src: local('☺'), url('../fonts/20Kopeek-Book.woff') format('woff'), url('../fonts/20Kopeek-Book.ttf') format('truetype'), url('../fonts/20Kopeek-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    margin: auto;
    max-width: 1110px;
}
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 31px;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.flex_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1px;
}
header p{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 22px;
}
header li:first-child {
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 7px 30px;
    display: inline-block;
}
header ul{
    display: flex;
    /*list-style: none;*/
}
header li{
    margin-left: 23px;
}
header .social{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 38px;
}
.main_banner{
    background-image: url("../images/011.jpg");
    background-size: cover;
    background-position: center top;
    height: 100vh;
    padding-top: 344px;
    padding-bottom: 309px;
    box-sizing: border-box;
    /*margin-bottom: 70px;*/
}
.main_banner .banner2{
    background-image: url("../images/012.jpg");
}
.main_banner .banner3{
    background-image: url("../images/013.jpg");
}
.main_banner .banner4{
    background-image: url("../images/014.jpg");
}

.main_banner h1{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-bottom: 30px;
}
.main_banner p{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 37px;
    color: #181818;
    margin-bottom: 65px;
}
.main_banner .btn{
    padding: 23px 47px;
    background: #FFFFFF;
    border-radius: 40px;
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #181818;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    box-sizing: border-box;
}
.about{
    padding: 70px 0 141px;
    box-sizing: border-box;
}
.flex_about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about h3{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 5px;
}
.about img
{
    /*margin-top: 10px;*/
    display: inline-block;
    width: 100%;
    max-width: 635px;
    height: 100%;
    margin-right: 30px;
}
.about p
{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}
.components h2{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-bottom: 40px;
}
.components ul {
    display: flex;
    width: 100%;
    counter-reset: my-counter;
}
.components li::before{
    content: counter(my-counter);
    counter-increment: my-counter;
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-40px);
    width: 100%;
}
.components li{
    padding-top: 25px;
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    position: relative;
    left: 40px;
}
.components li:nth-child(2) {
    margin-right: 83px;
    margin-left: 107px;
}
.components li:nth-child(4) {
    margin-right: 130px;
    margin-left: 68px;

}
.components li span{
    margin-top: 16px;
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #181818;
    display: inline-block;
    margin-bottom: 120px;
}
.price h3{
    font-family: "20 Kopeek Book";
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 15px;
    width: 100%;
}
.flex_price{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price p{
    font-family: "20 Kopeek";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    margin-right: 72px;
    margin-left: 10px;
    width: 100%;
}
.price p span{
    background: #2B59C3;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    color: #FFFFFF;
    padding: 11px 10px;
    margin: -11px -10px;
    box-sizing: border-box;
}
.price p span::after{
    content:"▼" ;
}

.price li{
    width: 100%;
}
.price img{
    display: inline-block;
    max-width: 634px;
    height: 100%;
}
.price{
    margin-bottom: 150px;
}
